{% extends "_base.html" %}

{% block css %}
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/blockcertwm-dashboard.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="/dashboard"><img src="static/image/blockcerts.png" alt="blockcerts_logo" class="hidden-xs hidden-sm">
                        <img src="static/image/blockcerts.png" alt="blockcerts_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li><a href="/dashboard"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Inicio</span></a></li>
                        <li><a href="/users"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Usuarios</span></a></li>
                        <li class="active"><a href="/cert-tools"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Cert Tools</span></a></li>
                        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Statistics</span></a></li>
                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Calender</span></a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Setting</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <!--<div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Search" id="search">
                            </div>-->
                        </div>
                        <div class="col-md-12">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <li class="hidden-xs"><a href="/verification-certs" class="add-project"><i class="fa fa-check"></i> Verificar Certificado </a></li>
                                    <li class="hidden-xs"><a href="/create-certs" class="add-project"><i class="fa fa-file-text-o"></i> Crear Certificado </a></li>
                                    <!--<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>-->
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="http://jskrishna.com/work/merkury/images/user-pic.jpg" alt="user">
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>JS Krishna</span>
                                                    <p class="text-muted small">
                                                        me@jskrishna.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">View Profile</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="user-dashboard">
                    <h1>Certificados</h1>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                        <table class="table">
                            <tr>
                                <th>Nombre Certificado</th>
                                <th>Llave-(key)</th>
                                <th>Acciones</th>
                            </tr>
                            <tr>
                                <td>MIT Learning</td>
                                <td>$;LAKSNVASDowenLSKDF98e8a9ew89we89wea;lsnv22@@@#$</td>
                                <td>
                                    <a href="#" class="btn btn-info"><i class="fa fa-eye"></i> Ver</a>
                                    <a href="#" class="btn btn-warning"><i class="fa fa-edit"></i> Actualizar</a>
                                    <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Ing. Comercial</td>
                                <td>$;LAKSNVASDowenLSKDF98e8a9ew89we89wea;lsnv22@@@#$</td>
                                <td>
                                    <a href="#" class="btn btn-info"><i class="fa fa-eye"></i> Ver</a>
                                    <a href="#" class="btn btn-warning"><i class="fa fa-edit"></i> Actualizar</a>
                                    <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</a>
                                </td>
                            </tr>
                        </table>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- Modal -->
    <div id="add_newuser" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Nuevo Usuario</h4>
                </div>
                <form action="/register" method="post">
                    <div class="modal-body">
                        <input type="text" placeholder="Nombre" name="name" required="true">
                        <input type="text" placeholder="Apellido" name="lastname" required="true">
                        <input type="email" placeholder="Email" name="email" required="true">
                        <input type="password" placeholder="Contrasena" name="password" required="true">
                        <input type="password" placeholder="Repetir Contrasena" name="repeat_password" required="true">
                        <select name="roleid" id="roleid" required="true">
                            <option value="">Role</option>
                            <option value="1">Admin</option>
                            <option value="2">Entidad Universitaria</option>
                            <option value="3">Entidad Personal</option>
                        </select>
                        <select name="status" id="status" required="true">
                            <option value="">Estado</option>
                            <option value="1">Habilitado</option>
                            <option value="2">No Habilitado</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="add-project">Crear</button>
                    </div>    
                </form>
                
            </div>

        </div>
    </div>

</div>

{% endblock %}

{% block js %}
    <script src="static/js/blockcertwm-dashboard.js" type="text/javascript"></script>
{% endblock %}